<!DOCTYPE html>
<html>
<head>
  <title> To Do List </title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <body>

    <div ng-app="myApps" ng-controller="todoController">

      <input type="text" ng-model="todo">
      <button ng-click="todos()"> Add </button>
        <ul >
          <li ng-repeat = "c in todoList"> {{c}} </li>
        </ul
    </div>

    <script>
        var app = angular.module('myApps',[]);
        app.controller('todoController',function($scope)
      {
          $scope.todoList = [];
          $scope.todo ="";
          $scope.todos = function()
          {
            $scope.todoList.push($scope.todo);
            $scope.todo ="";
          }
      });
    </script>

  </body>
</html>
